# config/simulator.cfg
# --------------------
# Connects to QuickFIX's built-in ordermatch example running locally.
# Start the simulator first:
#   ./ordermatch ordermatch.cfg
# Then start the gateway:
#   ./run_gateway config/simulator.cfg

[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
FileStorePath=./fix_store
FileLogPath=./fix_logs
HeartBtInt=30
ValidateUserDefinedFields=N
ValidateIncomingMessage=N

[SESSION]
BeginString=FIX.4.2
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
SocketConnectHost=127.0.0.1
SocketConnectPort=9878
StartTime=00:00:00
EndTime=00:00:00
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
